.container {
	@include clearfix;
	position: relative;
	padding-left: $side-padding;
	padding-right: $side-padding;

}

header, footer {
	background-color: $teal2;
	padding: 1.5rem 0 1rem;
	position: relative;
	* {
		color: #fff;
		line-height: 1;
	}
	.logo {
		font-size: 3rem;
		line-height: 0;
		span span {
			display: none;
		}
	}

	ul,li {
		list-style-type: none;
		padding: 0;
		margin: 0;
		a {
			@extend .topnav;
			margin-right:1em;

		}

	}
	.brand {
		float: right;
		padding-right: 2rem;
		@include media('small-screen') {
			padding: 0;
		}
	}
	.navigation {
		display: none;
		@include media('small-screen') {
			display:block;
			float: left;
			position: absolute;
			bottom: 0;
			left: $side-padding;
		}
		li {
			padding:.5rem 1rem;
			@include media('small-screen') {
				padding: 0;
				display: inline-block;
			}	
			&:first-child {
				display: none;
			}
		}
		&.open {
			display: block;
		}
	}
	.hamburger {
		@include media('small-screen') {
			display: none;
		}
	}

}

footer {
	padding:2rem 0;
	background-color: #fff;
	* {
		color:#000;
	}
	.navigation {
		position: relative;
		left: auto;
		bottom:auto;
	}
	.logo {
		display:none;
		@include media('small-screen') {
			display: block;
			color: #000;
		}
	}
	.copyright {
		@include clearfix;
		float:left;
		margin-top: .5rem;
		line-height: 1.5;
		.linebreak {
			display: block;
			@include media('small-screen') {
				display: inline;
			}
			span {
				display:none;
				@include media('small-screen') {
					display:inline;
				}
			}
		}
	}
}

.masthead {
	position: relative;
	@include media('small-screen') {
		height:60vw;	
	}
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;	
	.h1 {
		color:#fff;
		padding:10rem 3rem 1rem;
		@include media('small-screen') {
			padding:0 3rem;	
		}
		
	}
	.overlay {
		background: rgba(0, 0, 0, .35);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	* {
		position: relative;
	}
	.button {
	  color: $teal2;
	  border:solid 1px #fff;
	  background: #fff;
	  margin-bottom: 3rem;
		@include media('small-screen') {
			margin-bottom: 0;
		}
	}
}

.introduction {
	text-align: center;
	padding: 2rem;
	@include media('small-screen') {
		padding: 2rem 6rem;		
	}
	h2 {
		@extend .h1;
		margin-bottom:0;
		color: $teal2;
	}
	p {
		@extend .p1;
		margin: 1rem 0;
	}


}

.links {
	background: $grey;
	color:#fff;
	.link {
		color:#fff;
		@include media('small-screen') {
			position: absolute;
			bottom: 2rem;
			left: 2rem;
		}
	}		

	ul, li {
		list-style-type: none;
		padding: 0;
		margin: 0;		
	}
	li {
		padding: 2rem;
		@include media('small-screen') {
			padding-right: 4rem;
			width: 33.333333%;
			position: relative;
			float: left;
			height: 17rem;
		}

	}
	li:nth-child(1) {
		background: $ltgrey;
		color: #000;
		.link {
			color:#000;
		}
	}
	li:nth-child(2) {
		background: $teal1;
	}
	li:nth-child(3) {
		background: $teal3;
	}

}

.quotes {
	padding: 1rem 2rem;
	background:  $teal1;
	color: #fff;
	text-align: center;
	@extend .h1;
	margin: 0;
	&, li {
		list-style-type: none;
	}
}


.zebra {
	&, li {
		list-style-type: none;
		padding:0;
		margin:0;
		background: $grey;
	}
	li {
		padding-top:1rem;
		padding-bottom:1rem;
	} 
	li:nth-child(2n) {
		background: $ltgrey;
	}
	.link {
		display: inline-block;
		margin-top: 1rem;
	}
}

.grid {
	padding: $side-padding/2 $side-padding;
	background: $ltgrey;
	&, li {
		list-style-type: none;
	}		
	li {
		float:left;
		width:33%;
	}
	@include clearfix;
}

.pages main {
	p, h1, h2, h3 {
		padding-left: $side-padding;
		padding-right: $side-padding;
	}
	li h3 {
		padding-left: $side-padding;
		padding-right: $side-padding;
	}
}