.home {
  h1 {
    display:none;
  }
  .spotlight {
  	background: $teal2;
  	color: #fff;
  	padding: 2rem;
  	@include media('small-screen') {
  		padding:2rem 5rem 2rem 5rem;;
  	}
  	h3 {
  		margin-top: 0;
  	}
  	.p1 {
  		margin-bottom: .25rem;
  	}
  	.link {
  		color: #fff;
  	}
  }
}