.outcomes {
  // page stuff
	.bigstat {
		padding: 2rem;
		background: $teal1;
		color: #fff;
		text-align:center;
		.value {
			font-size:6rem;
			@extend .h1;
		}
		.label {
			text-transform: uppercase;
		}
	}
	.graphstats {
		text-align:center;
		padding:2rem 4rem;
		.graphstat {
			display: inline-block;
			text-align:center;
			@include media('small-screen') {
				max-width: 33%;				
			}
			.value {
				height:20vw;
			}
			.label {
				padding:1rem;
			}
		}		
	}
	.blockstats {
		padding: 2rem 6rem;
		background: $teal3;
		color: #fff;
		.blockstat {
			display: inline-block;
			width: 100%;
			@include media('small-screen') {
				display: inline-block;
				max-width: 49.5%;				
			}
			text-align:center;
			.value {
				@extend .h1;
				font-size: 6rem;
			}
		}
	}
	.centerstat {
		padding: 2rem;
		text-align: center;
		.label {
			color: $teal2;
		}
		.value {
			color: $teal3;
			@extend .h1;
			font-size: 4rem;
		}
	}
	main > ul:first-of-type,
	main > ul:first-of-type li,
	main > ul:first-of-type li > ul
	 {
		list-style-type: none;
		padding:0;
		margin:0;		
	}
	main > ul:first-of-type li > ul {
		@include media('small-screen') {
			max-width:60%;			
		}
		margin: auto;
	}
	main > ul:first-of-type {
		padding-left: $side-padding-mobile;
		padding-right: $side-padding-mobile;
		& > li {
			padding: 2rem;
			background: $grey;			
		}
		& > li:nth-of-type(2n) {
			background: transparent;
		}
		li > p {
			margin: 0;
			text-transform: uppercase;
			@extend .h3;
			color: $teal2;
			text-align:center;
			& > span:nth-of-type(1) {
				color: $teal1;
				margin-left:.25em;
			}
			& > span:nth-of-type(2) {
				&:before {
					content: "=";
				}
			}			
		}
		li > ul > li:first-of-type {
			display: none;
		}
		li > ul > li:nth-of-type(2) {
			margin: 1rem 0;
			background: $teal1;
			padding: .25rem;
			font-size: .8rem;
			color: #fff;
		}
	}

	.location-stat {
		text-align: center;
		.other-stat {
			display: block;			
			@include media('small-screen') {
				width: 25%;
				display: inline-block;				
			}
			vertical-align:top;
			margin: 1rem;			
			.value {
				display: inline-block;
				background: $teal2;
				color: #fff;
				border-radius: 50%;
				padding: 1.25rem;
				text-align: center;
				@extend .h3;
				font-size: 1.75rem;
				width:5.25rem;
				border: .2rem solid #fff;
			}	
			.label {
				font-size:.8rem;
				margin-top:1rem;
			}		
		}
		.other-stat:nth-of-type(1),
		.other-stat:nth-of-type(3) {
			.value {
				background: $teal3;
			}
		}
				

		i {
			display: none;
		}

	}
	main > ul:last-of-type {
		color: #fff;
		background: $teal2;
		@include clearfix;
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			float: left;
			width: 50%;
			padding:1rem;
			strong {
				clear: both;
				display: block;
				font-size: 4rem;
			}
		}
		li:nth-child(1) {
			background: $teal1;
			width: 100%;
			strong {
				display: inline-block;
				vertical-align: middle;
				width:15%;
				&:first-child,
				&:last-child {
					font-size: 1rem;	
					font-weight: normal;
					width:30%;
				}
			}

		}
	}
	.year-buttons {
		text-align:center;
	}
}

