.our-programs {
  // page stuff
  	main > ul:nth-of-type(1) {
		@extend .quotes;
	}  
  	main ul:nth-of-type(2) {
		@extend .grid;
	}
  	main ul:nth-of-type(3) {
		@extend .listing;
		 ul {
		 	margin: 1rem 4rem;
		 	list-style-type: normal;
		 	li {
		 		list-style-type: disc;
		 		padding:0;
		 	}
		 }
	}
  	main ul:nth-of-type(4) {
		@extend .listing;
	}

}
