{{> header}}
<main>
    <h1>{{meta_title}}</h1>
    <div class="masthead" role="banner" style="background-image:url({{imgL slider_image}})">
        <div class="overlay"></div>
        <div>
            <div class="h1">{{slider_title}}</div>
            <a href="{{slider_button_link}}" class="button">{{slider_button_text}}</a>
        </div>
    </div>
    <div class="introduction">
        <h2>{{intro_title}}</h2>
        <div class="p1">{{intro_body}}</div>
        {{#if intro_link}}
        <a class="button" href="{{intro_link}}">{{intro_link_text}}</a> {{/if}}
    </div>
    <div class="links">
        <div class="container">
            <ul role="directory">
                <li>
                    <div class="p1">{{link_1_body}}</div>
                    <a class="link" href="{{link_1_url}}">{{link_1_text}}</a>
                </li>
                <li>
                    <div class="p1">{{link_2_body}}</div>
                    <a class="link" href="{{link_2_url}}">{{link_2_text}}</a>
                </li>
                <li>
                    <div class="p1">{{link_3_body}}</div>
                    <a class="link" href="{{link_3_url}}">{{link_3_text}}</a>
                </li>
            </ul>
        </div>    
    </div>    
    <div class="spotlight" role="article">
        <h3>{{spotlight_item_title}}</h3>
        <p class="p1">{{spotlight_item_body}}<br>
            <a class="link" href="{{spotlight_item_link}}">Read More</a>
        </p>
    </div>
    <div class="carf">
        <div class="image">
            <img src="/content/media/carf.jpg">
        </div>
        <div class="text">
            <h3>Accreditation</h3>
            <p>Dreamcatchers Empowerment Network is accredited by the Commission on Accreditation of Rehabilitation Facilities (CARF) for its vocational assessment, job preparation and placement programs for youth and adults with limitations and disabilities in California. This represents the highest level of accreditation that can be awarded to an organization and shows that Dreamcatchers meets or exceeds the high standards established by CARF.</p>
        </div>
    </div>    
    <div class="footer-image" role="banner">
        <img src="{{imgL footer_image}}" alt="footer image"/>
    </div>
</main>
{{> footer}}
