{{> header}}
<main>
    <h1>{{meta_title}}</h1>
    <div class="masthead" role="banner" style="background-image:url({{imgL slider_image}})">
        <div class="overlay"></div>
        <div>
            <div class="h1">{{slider_title}}</div>
            <a href="{{slider_button_link}}" class="button">{{slider_button_text}}</a>
        </div>
    </div>
    <div class="introduction">
        <div class="p1">{{intro_body}}</div>
        {{#if intro_link}}
        <a class="button" href="{{intro_link}}">{{intro_link_text}}</a> {{/if}}
    </div>
    <div class="links">
        <div class="container">
            <ul role="directory">
                <li>
                    <div class="p1">{{link_1_body}}</div>
                    <a class="link" href="{{link_1_url}}">{{link_1_text}}</a>
                </li>
                <li>
                    <div class="p1">{{link_2_body}}</div>
                    <a class="link" href="{{link_2_url}}">{{link_2_text}}</a>
                </li>
                <li>
                    <div class="p1">{{link_3_body}}</div>
                    <a class="link" href="{{link_3_url}}">{{link_3_text}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="spotlight" role="article">
        <h3>{{spotlight_item_title}}</h3>
        <p class="p1">{{spotlight_item_body}}<br>
            <a class="link" href="{{spotlight_item_link}}">Read More</a>
        </p>
    </div>
    {{#if spotlight_item_title2}}
    <div class="spotlight" role="article">
        <h3>{{spotlight_item_title2}}</h3>
        <p class="p1">{{spotlight_item_body2}}<br>
            <a class="link" href="{{spotlight_item_link2}}">Read More</a>
        </p>
    </div>
    {{/if}}
    <div class="carf">
        <div class="image">
            <img src="/content/media/carf.jpg" alt="carf">
        </div>
        <div class="text">
            <h3>Accreditation</h3>
            <p>Dreamcatchers Empowerment Network is accredited by the Commission on Accreditation of Rehabilitation
                Facilities (CARF) for its vocational assessment, job preparation and placement programs for youth and
                adults with limitations and disabilities in California. This represents the highest level of
                accreditation that can be awarded to an organization and shows that Dreamcatchers meets or exceeds the
                high standards established by CARF.</p>
        </div>
    </div>
    <div class="carf">
        <div class="image">
            <a href="https://www.guidestar.org/profile/71-0877008" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=8068917&l=v4" alt="guidestar"/></a>
        </div>
        <div class="text">
            <h3>Guidestar Platinum Seal of Transparency</h3>
            <p>Dreamcatchers Empowerment Network has earned a Guidestar Platinum Seal of Transparency by adding information to their Nonprofit Profile on GuideStar. GuideStar is the world’s largest source of information on nonprofit organizations. Now community members, as well as 10+ million GuideStar users, can find in-depth information about Dreamcatchers’ goals, strategies, capabilities, and progress.
            </p>
        </div>
    </div>    
    <div class="newsletter">
        <a href="#" id="open-modal" class="button">Sign up for our newsletter</a>
    </div>
    <div class="footer-image" role="banner">
        <img src="{{imgL footer_image}}" alt="footer image" />
    </div>
</main>
{{> footer}}