{{> header}}

<div class="introduction">
    <h2>Outcomes: {{title}}</h2>
    <p>{{teaser}}</p>
</div>

<main data-year="{{year}}">


	{{#if bigstat_value}}

	<div class="bigstat">
		<div class="value">{{bigstat_value}}</div>		
		<div class="label">{{bigstat_label}}</div>
	</div>
	{{/if}}

	<div class="graphstats">

		{{#if graphstat_1_value}}
		<div class="graphstat">
			<div class="value">
		        <div class="c100 p{{graphstat_1_value}} big">
		            <span>{{graphstat_1_value}}%</span>
		            <div class="slice">
		                <div class="bar"></div>
		                <div class="fill"></div>
		            </div>
		        </div>				
			</div>
			<div class="label">{{graphstat_1_label}}</div>
		</div>
		{{/if}}
		{{#if graphstat_2_value}}
		<div class="graphstat">
			<div class="value">
		        <div class="c100 p{{graphstat_2_value}} big">
		            <span>{{graphstat_2_value}}%</span>
		            <div class="slice">
		                <div class="bar"></div>
		                <div class="fill"></div>
		            </div>
		        </div>				
			</div>
			<div class="label">{{graphstat_2_label}}</div>
		</div>
		{{/if}}
		{{#if graphstat_3_value}}
		<div class="graphstat">
			<div class="value">
		        <div class="c100 p{{graphstat_3_value}} big">
		            <span>{{graphstat_3_value}}%</span>
		            <div class="slice">
		                <div class="bar"></div>
		                <div class="fill"></div>
		            </div>
		        </div>				
			</div>
			<div class="label">{{graphstat_3_label}}</div>
		</div>
		{{/if}}
		
	</div>

	<div class="blockstats">
		
		{{#if blockstat_1_value}}
		<div class="blockstat">
			<div class="value">{{blockstat_1_value}}</div>
			<div class="label">{{blockstat_1_label}}</div>
		</div>	
		{{/if}}

		{{#if blockstat_2_value}}
		<div class="blockstat">
			<div class="value">{{blockstat_2_value}}</div>
			<div class="label">{{blockstat_2_label}}</div>
		</div>	
		{{/if}}

	</div>

	{{#if centerstat_value}}
		<div class="centerstat">
				<div class="label">{{centerstat_label}}</div>
				<div class="value">{{centerstat_value}}</div>
		</div>
	{{/if}}

    {{{contents}}}

    {{#if outcomes}}
    <div class="year-buttons">
		{{#each outcomes}}
			<a class="button" href="/{{path}}">{{title}}</a>
		{{/each}}    	
    </div>
	{{/if}}


</main>
{{> footer}}
