{{> header}}
<div class="masthead" style="background-image: url({{ imgL image }})">
    <h1>Outcome: {{title}}</h1>
    <p>{{teaser}}</p>
</div>
<main data-year="{{year}}">

	<div class="stat">
		{{#if stat_1_percent}}
			<div class="percent">{{stat_1_percent}}</div>
		{{/if}}
		<strong>{{stat_1_value}}</strong>
		<p>{{stat_1_label}}</p>
	</div>

	<div class="stat">
		{{#if stat_2_percent}}
			<div class="percent">{{stat_2_percent}}</div>
		{{/if}}
		<strong>{{stat_2_value}}</strong>
		<p>{{stat_2_label}}</p>
	</div>

	<div class="stat">
		{{#if stat_3_percent}}
			<div class="percent">{{stat_3_percent}}</div>
		{{/if}}
		<strong>{{stat_3_value}}</strong>
		<p>{{stat_3_label}}</p>
	</div>

	<div class="stat">
		{{#if stat_4_percent}}
			<div class="percent">{{stat_4_percent}}</div>
		{{/if}}
		<strong>{{stat_4_value}}</strong>
		<p>{{stat_4_label}}</p>
	</div>

	<div class="stat">
		{{#if stat_5_percent}}
			<div class="percent">{{stat_5_percent}}</div>
		{{/if}}
		<strong>{{stat_5_value}}</strong>
		<p>{{stat_5_label}}</p>
	</div>


    {{{contents}}}

    {{#if outcomes}}
		{{#each outcomes}}
			<a class="button" href="/{{path}}">{{title}}</a>
		{{/each}}
	{{/if}}


</main>
{{> footer}}
