{{> header}}
<img src="{{ imgL header_image }}">
<main>
    <div class="introduction">
        <h2>{{intro_title}}</h2>
        <div class="p1">{{intro_body}}</div>
        {{#if intro_link}}
        <a class="button" href="{{intro_link}}">{{intro_link_text}}</a> {{/if}}
    </div>
    {{#if successes}}
    <div class="successes">
        <h2>Success Stories</h2>
        <ul>
            {{#each successes}}
            <li>
                <p>{{teaser}}
                <br><a href="/{{path}}" class="link">Read More</a>
                </p>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div id="quotes" class="quotes">
        {{{contents}}}
    </div>
</main>
<img src="{{ imgL footer_image }}"> {{> footer}}