form {}
button, 
input,
textarea
 {
  @include button;
  width:100%;
  text-transform: none;
}
button, 
input[type='submit'] {
  text-transform: uppercase;
  width:auto;
}

.is-hidden {
  display:none;
}

