/*
 * Styles
 * Add your content-specific theming in this file.
 * All general theming should go in the design folder.
 */
* {
	box-sizing:border-box;
}
html {
    font-size:$rem-base;
  @include media('mini') {
    font-size:$rem-base-mini;
  }
  @include media('small-screen') {
    font-size:$rem-base-relative;
  }  
  @include media('large-screen') {
    font-size:$rem-base-lrg;
  }  
}
body {
	margin:0;
	transition-property: opacity;
  transition-duration: 500ms;
  opacity:0;
  &.shown {
  	opacity:1;
  }

}
img {
  height: auto;
  width: 100%;
}
.button {
  @include button;
}

.iframe {
  width: 100%;
  padding: 0 2rem;
  @include media('small-screen') {
    padding: 0 5rem;
  }
}
.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, .95);
  color: #000;
}
.modal .content-wrapper {
  max-width: 320px;
  margin: 4rem auto;
  position: relative;
}
@media (min-width:769px) {
  .modal .content-wrapper {
    max-width: 480px;
  }
}

.newsletter {
  background: #dedede;
  padding: 2rem;
  text-align: center;
}
.newsletter a {
  margin: 0
}

.modal .content-wrapper .close {
  position: absolute;
  top: 0;
  right: 2rem;
  font-weight: bold;
}
.modal .iframe,
.modal h4 {
  padding: 0 2rem;
}
.modal .iframe iframe {
  height: 450px;
}

.social {
  float: left;
  clear: both;
  margin-top: 1rem;
}
@media (min-width:769px) {
  .social {
    float: right;
    clear: none;
    margin-top: 0;
  }
}
.social img {
  width: auto;
  height: 1.5rem;
}

.accessibility {
  display: none;
}