/*
 * Styles
 * Add your content-specific theming in this file.
 * All general theming should go in the design folder.
 */
* {
	box-sizing:border-box;
}
html {
    font-size:$rem-base;
  @include media('mini') {
    font-size:$rem-base-mini;
  }
  @include media('small-screen') {
    font-size:$rem-base-relative;
  }  
  @include media('large-screen') {
    font-size:$rem-base-lrg;
  }  
}
body {
	margin:0;
	transition-property: opacity;
  transition-duration: 500ms;
  opacity:0;
  &.shown {
  	opacity:1;
  }

}
img {
  height: auto;
  width: 100%;
}
.button {
  @include button;
}
