/*
Montserrat

NAV 16px

H1 (FOR OVERLAY IMAGES AND USED FOR QUOTES) 
BOLD 48PX #FFFFFF (ADD SHADOW?)

H2 FOR PAGE HEADERS BOLD 48PX #336667

H3 FOR SUB HEADLINES BOLD 36PX #336667

BUTTONS 22PX ALL CAPS

LINKS (WHEN NOT INLINE WITH TEXT) 16PX ALL CAPS WITH “›” CARROT

BODY 22PX 26PX LINE SP. #515151


COLORS
LT GREY #f0efef
GREY #dddddd
MID GREY #bababa
DARK GREY (TEXT) #444545
TEAL1 #669999
TEAL2 #336667
TEAL3 #01333
*/

$breakpoints: (
  'mini'       : ( max-width: 320px ),
  'small-screen'       : ( min-width: 769px ),
  'large-screen'       : ( min-width: 1281px ),
  'short-screen'       : ( max-height: 800px )
);

$rem-base: 22px;
$rem-base-relative: 1.65vw;
$rem-base-lrg: 22px;

//fonts

%regular {
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 400;
}
%bold {
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 700;
}
%heading {
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 700;
}
%button {
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 400;
}
%black {
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 900;
}


//colors

$ltgrey: #f0efef;
$grey: #dddddd;
$midgrey: #bababa;
$dkgrey: #444545;
$teal1: #669999;
$teal2: #336667;
$teal3: #013333;